.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

p {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #909294;
}

body {
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.block-inline {
	display: inline-block;
}

.col {
	@extend .clearfix;
	margin: 0 auto;
	max-width: 1000px;
	&1, &2, &3, &4, &5, &6, &7, &8, &9, &10, &11, &12 {
		float: left;
	}
	&1.last, &2.last, &3.last, &4.last, &5.last, &6.last, &7.last, &8.last, &9.last, &10.last, &11.last, &12 {
		margin: 0;
	}
	&1 { width: 5.5%; }
	&2 { width: 14%; }
	&3 { width: 25%; }
	&4 { width: 31%; }
	&5 { width: 39.5%; }
	&6 { width: 50%; }
	&7 { width: 56.5%; }
	&8 { width: 65%; }
	&9 { width: 73.5%; }
	&10 { width: 82%; }
	&11 { width: 90.5%; }
	&12 { width: 99%; margin: 0; }
}

.question {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	height: 100px;
	margin-top: 0 !important;
	margin: 40px 20px;
	padding: 20px 20px 20px 80px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    background: url(../images/th.png) no-repeat center left;
}

.error {
	@extend .question;
	width: 50%;
	float: right;
    background: url(../images/alert.png) no-repeat center left;
}

.marg-left {
	margin-left: 20px !important;
}
.marg-right {
	margin-right: 20px !important;
}
.marg-auto {
	margin: 0 auto;
}

.quiz-btn {
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	padding: 8px;
	display: inline-block;
	width: 100px;
	background: #ffcc36;
	background: -moz-linear-gradient(top, rgba(255,216,60,1) 0%, rgba(255,174,50,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,216,60,1)), color-stop(100%, rgba(255,174,50,1)));
	background: -webkit-linear-gradient(top, rgba(255,216,60,1) 0%, rgba(255,174,50,1) 100%);
	background: -o-linear-gradient(top, rgba(255,216,60,1) 0%, rgba(255,174,50,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,216,60,1) 0%, rgba(255,174,50,1) 100%);
	background: linear-gradient(to bottom, rgba(255,216,60,1) 0%, rgba(255,174,50,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd83c', endColorstr='#ffae32', GradientType=0 );	
	outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    color: #fff;
    margin: 5px;
	&-yes {
		background: #289dee;
		background: -moz-linear-gradient(top, rgba(53,174,250,1) 0%, rgba(34,133,215,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,174,250,1)), color-stop(100%, rgba(34,133,215,1)));
		background: -webkit-linear-gradient(top, rgba(53,174,250,1) 0%, rgba(34,133,215,1) 100%);
		background: -o-linear-gradient(top, rgba(53,174,250,1) 0%, rgba(34,133,215,1) 100%);
		background: -ms-linear-gradient(top, rgba(53,174,250,1) 0%, rgba(34,133,215,1) 100%);
		background: linear-gradient(to bottom, rgba(53,174,250,1) 0%, rgba(34,133,215,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35aefa', endColorstr='#2285d7', GradientType=0 );
		@extend .quiz-btn;
	}
	&-no {
		@extend .quiz-btn;
	}
}

.btn {
	@extend .quiz-btn;
	display: block;
	width: 100%;
	text-decoration: none;
}

.position-center {
	position: relative;
	button {
		margin-top: 15%;
		position: relative;
	}
}

.arrow-right {
	background: url(../images/arrow-left.png) no-repeat right 70%;
}

.arrow-left {
	background: url(../images/arrow-right.png) no-repeat left 70%;
}

.pdf-download {
	width: 70%;
	margin-left: 100px;
	text-align: center;
	.block-inline {
		text-align: left;
		vertical-align: top;
	}
}

.theme-grey {
	width: 100%;
	padding: 50px;
	background: #CCCED0;
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	outline: 0;
	border: 0;
	padding: 10px;
	border-radius: 5px;
	display: block;
	width: 100%;
	margin: 5px;
}

#first-questions {

}

body.no, body.no-yes, body.no-no, body.no-yes-yes, body.no-yes-no, body.no-no-no, body.no-no-yes {
	#first-questions {
		background: url(../images/arrow-down.png) no-repeat 87% 93%;	
	}
	#second-questions {
		display: block;
	}
	#second-questions-second {
		visibility: visible;
	}
}

body.yes, body.yes-no, body.yes-yes, body.yes-yes-yes, body.yes-yes-no, body.yes-no-no, body.yes-no-yes {
	#first-questions {
		background: url(../images/arrow-down.png) no-repeat 13% 93%;	
	}
	#second-questions {
		display: block;
	}
	#second-questions-first {
		visibility: visible;
	}
}

body.yes-yes, body.yes-yes-no, body.yes-yes-yes {
	#second-questions {
		background: url(../images/arrow-down.png) no-repeat 7% 93%;
		padding-bottom: 70px;
	}
	#third-questions {
		display: block;
	}
	#third-questions-first {
		visibility: visible;
	}
	#seriously {
		display: none;
	}
}

body.yes-yes-yes, body.yes-yes-no, body.no-yes-yes, body.no-yes-no {
	#third-questions {
		background: url(../images/arrow-fancy.png) no-repeat bottom left;
		padding-bottom: 100px;
		display: block;
	}
	#third-questions-first {
		visibility: visible;
	}
	#pdf-download {
		display: block;
	}
}

body.yes-no {
	#second-questions {
		background: url(../images/bigone.png) no-repeat;
		background-position: 250px bottom;
		padding-bottom: 80px;
		display: block;
	}
	#third-questions {
		display: block;
	}
	#third-questions-second {
		display: none;
	}
	#seriously {
		visibility: visible;
	}
}

body.no-no {
	#second-questions {
		padding-bottom: 80px;
		background: url(../images/arrow-curved.png) no-repeat bottom right;
	}
	#third-questions {
		display: block;
	}
	#third-questions-second {
		display: none;
	}
	#seriously {
		visibility: visible;
	}
	#pdf-download {
		display: block;
	}
}

body.no-yes, body.no-yes-no, body.no-yes-yes {
	#second-questions {
		padding-bottom: 80px;
		background: url(../images/arrow-curved-2.png) no-repeat bottom center;
	}
	#third-questions {
		display: block;
	}
	#third-questions-first {
		display: none;
	}
	#third-questions-second {
		visibility: visible;
	}
}

#second-questions {
	display: none;
}

#second-questions-first {
	visibility: hidden;
}

#second-questions-second {
	visibility: hidden;
}

#third-questions {
	display: none;
}

#third-questions-first {
	visibility: hidden;
}

#third-questions-second {
	visibility: hidden;
}

#seriously {
	visibility: hidden;
}

#pdf-download {
	display: none;
}